.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;  
}
.todo {
  justify-content: center;
  border: 2px black solid;
  width: 40%;
  height: 500px;
  margin: 10px;
  padding: 10px;
}
input {
  padding: 5px;
  margin-left: 10px;
}
.done {
  justify-content: center;
  border: 2px black solid;
  width: 40%;

  height: 500px;
  padding: 10px;
}

.done h1 {

  margin-left: 50px;
  padding: 5%;
}

.todo h1 {
  margin-left: 50px;
  padding: 5%;
}

ul {
  list-style: none;
}

li {
  background-color: gray;
  color: blue;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

